@use "../../../assets/styles/colors";

.under-construction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: colors.$main-background-color;
  text-align: center;
  align-content: center;

  & a {
    text-decoration: underline;
    font-weight: 500;
  }

  &, a, p {
    white-space: wrap;
  }
}
