.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-out;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 2000px;
  right: 0;
  bottom: 0;
  z-index: 998;
}

.burger-link {
  font-size: 2.4rem;
  position: relative;
  margin-bottom: 2rem;
  transition: margin-left 0.4s ease-in-out;

  &:active {
    margin-left: 0.3rem;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    bottom: 0;
    height: 0.2rem;
    transition: width 0.3s ease;
    background-color: #815d2e;
    border-radius: 0.5rem;
  }

  &:hover::after {
    left: 0;
    width: 100%;
  }
}

.left {
  left: 0
}
