<section class="contact-info-container">
    <a class="contact-info-container__mobile" href="tel:+40757131273">
      • Mobil: <span style="text-decoration: underline">0757 131 273</span>
    </a>

    <a class="contact-info-container__whatsapp" href="https://wa.me/40720545757">
      • WhatsApp: <span style="text-decoration: underline">0720 545 757</span>
    </a>

    <a class="contact-info-container__email" href="mailto:info@usisiferestre.ro">
      • E-mail: <span style="text-decoration: underline">info@usisiferestre.ro</span>
    </a>
</section>
