<section class="contact-info-container">
    <a class="contact-info-container__mobile" href="tel:+40757131273">
      <i class="ri-phone-fill"></i> Mobil: <p class="contact-info-container__link">0757 131 273</p>
    </a>

    <a class="contact-info-container__whatsapp" href="https://wa.me/40720545757">
      <i class="ri-whatsapp-line"></i> WhatsApp: <p class="contact-info-container__link">0720 545 757</p>
    </a>

    <a class="contact-info-container__email" href="mailto:info@usisiferestre.ro">
      <i class="ri-mail-fill"></i> E-mail: <p class="contact-info-container__link">info@usisiferestre.ro</p>
    </a>
</section>
