@use "../../../../assets/styles/colors";

.contact-info-container {
  display: flex;
  background-color: colors.$primary-green-color;
  color: colors.$white;
  font-size: 14px;
  padding: 8px;
  gap: 15px;

  @media only screen and (max-width: 604px) {
    &__email {
      display: none;
    }
  }

  @media only screen and (max-width: 366px) {
    &__whatsapp {
      display: none;
    }
  }
}
