<section class="contact-info-container">
  <p class="contact-info-container__info-text">
    Mobil:
    <a href="tel:+40757131273"><span style="text-decoration: underline">0757 131 273</span></a>
    • WhatsApp:
    <a href="https://wa.me/0720545757"><span style="text-decoration: underline">0720 545 757</span></a>
    • E-mail:
    <a class="contact-info-container__info-text--mail" href="mailto:info@usisiferestre.ro">
      <span style="text-decoration: underline">info@usisiferestre.ro</span>
    </a>
  </p>
</section>
<div class="spacer"></div>
