@use "../../../../assets/styles/colors";

.contact-info-container {
  &__info-text {
    margin: 0;
    padding: 8px;
    background-color: colors.$primary-green-color;
    color: colors.$white;
    font-size: 14px;

    &--mail {
      color: colors.$white;
    }
  }
}
