@use "../../../assets/styles/colors";

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image-and-text-container {
    justify-self: center;
    width: 60%;
    height: 551px;
    background-image: url("../../../../public/heroimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media only screen and (max-width: 1440px) {
      width: 80%;
    }

    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__cards {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__header-cards-container {
    width: 60%;

    @media only screen and (max-width: 1440px) {
      width: 80%;
    }

    @media only screen and (max-width: 1024px) {
      width: 95%;
    }

    @media only screen and (max-width: 640px) {
      width: 93%;
    }
  }

  &__cards-header {
    margin-bottom: 20px;
    color: colors.$secondary-header-color;

    @media only screen and (max-width: 408px) {
      white-space: wrap;
    }
  }

  &__hero-container {
    display: flex;
    flex-direction: column;
    padding: 14px 20px;

    & * {
      width: fit-content;
    }

    &__text {
      width: 520px !important;
      white-space: wrap;
      @media only screen and (max-width: 640px) {
        width: 425px !important;
      }

      @media only screen and (max-width: 451px) {
        width: auto !important;
      }
    }


    &__header {
      margin-bottom: 15px;
      color: colors.$main-text-color;

      @media only screen and (max-width: 461px) {
        white-space: wrap;
      }
    }

    &__links-container {
      display: flex;
      gap: 10px;

      &--link {
        text-decoration: underline;
      }

      &--spacer {
        cursor: default;
      }
    }

    &__button {
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
      transition: all .2s ease-in-out;
      font-weight: 400;
      color: colors.$white;
      background-color: colors.$button-green-primary-color;
      border: none;
      border-radius: 5px;
      padding: 16px;
      font-size: 16px;
      margin-bottom: 110px;
      margin-top: 10px;

      @media only screen and (max-width: 442px) {
        margin-bottom: 55px;
      }

      &:hover {
        background-color: colors.$button-green-primary-color-darker;
        margin-left: 3px;
      }
    }
  }
}
