@use "../../../../assets/styles/colors";

.card-container {
  padding: 1rem 1rem 2.5rem 1rem;
  border: 0.2rem solid colors.$card-color-border;
  border-radius: 1rem;
  width: 25rem;
  height: 29.2rem;

  @media only screen and (max-width: 370px) {
    width: auto;
  }

  &__icon-container {
    width: 100%;
    text-align: center;
    font-size: 6.4rem;
    color: colors.$cards-icon-color;
  }

  &__header {
    font-size: 1.8rem;
    color: colors.$secondary-header-color;
    margin-bottom: 1.5rem;
  }

  &__main-paragraph {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  &__small-footnote {
    font-size: 1.3rem;
  }

  &, &__header, &__main-paragraph, &__small-footnote {
    cursor: pointer;
    white-space: wrap;
  }
}

.selected-card {
  transition: all .2s ease-in-out;
  border: 0.2rem solid colors.$card-selected-color-border;
}

.ri-thin {
  -webkit-text-stroke: 0.05rem colors.$cards-icon-color;
  color: transparent;
}
