body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  font-family: 'Poppins', sans-serif;
  color: #898a8a;
}

p, h1, h2, h3, h4, h5, h6 {
  cursor: default;
  margin: 0;
  white-space: nowrap;
}

a, ul {
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
  white-space: nowrap;
}
