// Global:
$white: #ffffff;
$main-background-color: #f6f6f6;

// colors:
$primary-green-color: #628b6b;
$primary-orange-color: #f2de97;
$button-green-primary-color: #2ea43a;
$button-green-primary-color-darker: #16731f;
$navigation-button-selected-color: #54965e;

// text colors:
$main-text-color: #1e1d1e;
$secondary-header-color: #444444;
$secondary-text-color: #898a8a;
$cards-icon-color: #88cb8d;

// borders:
$card-color-border: #e6e8e6;
$card-selected-color-border: #dbbc76;

$link-hover-color: #d5b767;


